* {
    font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微軟雅黑", sans-serif;
}
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#map-canvas {
    position: absolute;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 70%;
    left: 30%;
}

.home {
    overflow-y: hidden;
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: #ce7373;
}

.home .col-xs-3 {
    color: #fff;
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: right;
}

.home .row {
    padding-top: 4px;
    padding-bottom: 4px;
}

.banner {
    font-style: italic;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    padding: .8em .5em .2em .5em;
    margin: -15px;
    background-color: #ea9b9b;
}

.setup {
    transition: opacity .5s, margin .5s;
    opacity: 0;
    font-size: 1.2em;
    margin-top: 5em;
    height: 300px;
}

.city, .dist, .age {
    cursor: pointer;
    background-color: #fff;
    padding: .5em;
    width: 40%;
    height: 2.5em;
}

.sex input[type='radio'] {
    display: none;
}

.sex input[type='radio'] + label {
    transition: background .5s, border .8s;
    cursor: pointer;
    color: #f2a0a0;
    padding: .5em;
    width: 40%;
    border: 1px solid transparent;
    text-align: center;
}

.sex input[type='radio']:checked + label {
    color: #000;
    border: 1px solid #fff;
    background-color: #fff;
}

.button {
    transition: background .2s;
    text-align: center;
    margin-left: calc((100% - 150px)/2);
    margin-top: 2em;
    width: 150px;
    background-color: #ce7373;
    color: #fff;
    padding: .5em;
    border: 0px;
    cursor: pointer;
    border-radius: 18px;
    border: 1px solid #fff;
}

.button:hover {
    background-color: #fff;
    color: #ce7373;
}

.result {
    overflow: hidden;
    height: calc(100% - 8em - 300px);
    padding-right: 16px;
}

.info {
    padding: .5em 0;
    color: #fff;
    font-weight: bold;
}

.result .info {
    display: none;
}

.result .info.show {
    text-align: center;
    display: inherit;
}

#statistics {
    transition: opacity .3s, padding .5s;
    opacity: 0;
    padding-top: 3em;
}

#statistics.show {
    transition: opacity .3s, padding .5s;
    opacity: 1;
    padding-top: 0;
}

#year_statistics {
    height: 100%;
}

.year_stat_and_caption {
    transition: bottom .4s cubic-bezier(.1, .1, 0, 1);
    position: absolute;
    bottom: -30%;
    right: 0;
    width: 70%;
    height: 29%;
    z-index: 14;
    background-color: #fff;
    box-shadow: 4px 0 8px 0 #999;
}

.year_stat_and_caption.halfshow {
    transition: bottom .4s cubic-bezier(.1, .1, 0, 1);
    bottom: calc(-30% + 65px);
}

.year_stat_and_caption.show {
    transition: bottom .4s cubic-bezier(.1, .1, 0, 1);
    bottom: 0;
}

#year_caption {
    z-index: 13;
    position: absolute;
    top: -1.5em;
    right: .5em;
    font-size: 6em;
    color: #000;
    opacity: .2;
    font-family: 'Open Sans', sans-serif;
}

#map_symbol {
    z-index: 13;
    position: absolute;
    top: -14em;
    left: 1.5em;
    color: #000;
    opacity: .8;
    font-family: 'Open Sans', sans-serif;
    background-color: #e9e9e9;
    padding: .5em 1.5em;
}

#map_symbol .map_symbol_box_1 {
  padding: 0 .6em;
  margin-right: .6em;
  background-color: #66ee66;
}

#map_symbol .map_symbol_box_2 {
  padding: 0 .6em;
  margin-right: .6em;
  background-color: #aaffaa;
}

#map_symbol .map_symbol_box_3 {
  padding: 0 .6em;
  margin-right: .6em;
  background-color: #ffffff;
}

#map_symbol .map_symbol_box_4 {
  padding: 0 .6em;
  margin-right: .6em;
  background-color: #ffaaaa;
}

#map_symbol .map_symbol_box_5 {
  padding: 0 .6em;
  margin-right: .6em;
  background-color: #ff6666;
}
